
/* ==================== */
/* Colors */
/* ==================== */

:root {
    // brand colors
    --c-brand: #deb0fc !important;
    --c-brand-light: #deb0fc !important;
}

html[data-theme="dark"] {
    // brand colors
    --c-brand: #7e4dc7 !important;
    --c-brand-light: #7e4dc7 !important;
}
